@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}
<div class="col-md-10 offset-md-1">
    <section>
        <div align=center>
            <i class="bi bi-person-circle text-warning" style="font-size: 8rem;"></i>
        </div>
        <form id="account" method="post">
            <h4 align=center>Usa tu cuenta para iniciar sesión</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning" style="color:#2db6a3;width:100%;">Iniciar Sesión</button>
            </div>
        </form>
    </section>
</div>

<style>
    .navbar-toggler {
        display:none;
    }
</style>

@section Espacios{
    <br><br><br><br><br><br><br>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

