@page
@model Disable2faModel
@{
    ViewData["Title"] = "Deshabilitar la autenticación de dos factores (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Esta acción solo deshabilita 2FA.</strong>
    </p>
    <p>
        Deshabilitar 2FA no cambia las claves utilizadas en las aplicaciones de autenticación. Si desea cambiar la clave
        utilizado en una aplicación de autenticación, debe <a asp-page="./ResetAuthenticator">restablecer sus claves de autenticación.</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Deshabilitar 2FA</button>
    </form>
</div>
