@{
    ViewData["Title"] = "Contacto";
}

<div align  = center class = container>
    <img src="~/imagen/logo_transparent.png" alt="img not fund" width=300px>
    <h1 class="display-6">
        Puedes contactarnos mediante nuestras redes sociales o llamando al <br>
        +56 9 9999 9999 o tambien contactanos por nuestro email realityfirst@gmail.com. <br>
        <br>
        <img src="~/imagen/Logo-Instagram-Bonito-Png.png" width="50px"> instagram: RealityFirst <br>
        <img src= "~/imagen/facebook.jpg" width="50px"> facebook: Reality First


    </h1>
</div>