@{
    ViewData["Title"] = "Politicas de privacidad";
}


<div align="center" class="shadow-lg p-3 mb-5 bg-body rounded bg-opacity-75">
    <br>
    <h1 class="display-3">Politicas de privacidad de Reality First</h1>
    <br>
    <h1 class="display-5">
        Como sabemos que tu seguridad es muy importante para ti, como empresa te brindamos la seguridad<br>
        de que tus datos no seran compartidos con ningun terceros nuestra web se encuentra certificada bajo<br>
        un certificado de SSL el cual certifica la seguridad y fiabilidad de nuestra pagina <br>
        <img src="~/imagen/manoseguridad.png" class="img-fluid">
    </h1>
    <br>
     
</div>
